body {
    /* Card properties. */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 120%;
    font-family: 'Open Sans', sans-serif;
    
    /* Background properties. */
    background: #5858cf; /* Incase image is not available. */
    background-image: url('https://source.unsplash.com/?city,night');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Cover entire container. */
}

.card {
    background: #000000ea;
    color: white;
    padding: 2em;
    border-radius: 21px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;

    /* After RGB is two bytes for the contrast. */
    background-color: #b8b8b800;
}

input.search-bar {
	border: none;
	outline: none;
	padding: 0.5em 1em;
	border-radius: 24px;
	background: #7C7C7C2b;
	color: white;
	font-family: inherit;
	font-size: 120%;
}

button {
	margin: 0.5em;
	border-radius: 50%;
	border: none;
	height: 46px;
	width: 46px;
	outline: none;
	background: #7C7C7C2b;
	color: white;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

button:hover {
	background: #7c7c7c2b;
}

bar {
	border: none;
	outline: none;
	padding: 0.5em 1em;
	border-radius: 24px;
	background: #7c7c7c2b;
	color: white;
	font-family: inherit;
	font-size: 120%;
	width: calc(100% - 100px);
}

h1.temp {
    margin: 0;
}

.description {
	text-transform: capitalize;
	margin-left: 8px;
}

.flex {
	display: flex;
	align-items: center;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after {
    visibility: visible;
    content: 'Loading...';
    color: white; 
    position: absolute;
    top: 0;
    left: 20px;
}